<div class="row">
  <div class="col-md-3">
    <%= image_tag 'https://robohash.org/sijsoijsoijs', size: '128x128' %>
    <p>Fake User</p>
    <h3>Supporting</h3>
    <p>You are not supporting anyone yet</p>
  </div>
  <div class="col-md-6">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id='myTabs'>
        <li role="presentation" class="active"><a href="#all-posts" aria-controls="all-posts" role="tab" data-toggle="tab">All posts</a></li>
        <li role="presentation"><a href="#patron-only-posts" aria-controls="patron-only-posts" role="tab" data-toggle="tab">Patron-only posts</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all-posts">All posts</div>
        <div role="tabpanel" class="tab-pane" id="patron-only-posts">Patron-only</div>
      </div>

    </div>
    <div class="jumbotron">
      <p><%= link_to 'FIND CREATORS YOU LOVE', users_path, class: "btn btn-primary btn-lg", role: "button" %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <h5>FIND CREATORS YOU LOVE</h5>
      <hr>
      <p><a class="btn btn-primary btn-sm" href="#" role="button">FIND CREATORS</a></p>
    </div>
  </div>
</div>
