<div class="row">
  <div class="col-md-3">
    <%= image_tag 'https://robohash.org/sijsoijsoijs', size: '128x128' %>
    <p>Fake User</p>
    <h3>Supporting</h3>
    <p>You are not supporting anyone yet</p>
  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-3">

  </div>
</div>
